.list {
  position: relative;
  font-size: 1.5rem;
  cursor: pointer;
  box-sizing: border-box;
}

.list:hover>div {
  left: -30px;
}

.listInWork {
  composes: list;
}

.listInWork div {
  position: absolute;
  width: 0;
  height: 0;
  z-index: 90;
  top: 7px;
  left: -40px;
  transition: 1s;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 30px solid var(--unchecked-color);
}

.listCompleted {
  composes: list;
  text-decoration: line-through;
  color: var(--checked-color);
}

.listCompleted div {
  position: absolute;
  width: 0;
  height: 0;
  top: 7px;
  z-index: 90;
  left: -40px;
  transition: 1s;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 30px solid var(--checked-color);
}

.listCompleted:hover {
  border-right: 1px solid var(--checked-color);
}

.listInWork:hover {
  border-right: 1px solid var(--unchecked-color);
}