.input {
  width: 100%;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px dotted rgba(125, 79, 170, .5);
}

.input:focus {
  outline: none;
  border: none;
  border-bottom: 2px dotted rgb(226, 188, 49);  
}

.row {
  margin-bottom: 30px;
}