@import "bootstrap/dist/css/bootstrap.min.css";

:root {
  --checked-color: #94e1b0;
  --unchecked-color: #d0d4dc;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html {
  font-size: 16px;
}

.app {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: center;
}

.todoContainer {
  width: 500px;
}
