@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
  --checked-color: #94E1B0;
  --unchecked-color: #D0D4DC;
}

html {
  font-size: 16px;
}

.app {
  font-family:'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
}

.todo-container {
  width: 500px;
}
