@import url('https://fonts.googleapis.com/css2?family=Shalimar&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

html {
  font-size: 16px;
}

.app {
  font-family: Shalimar;
  display: flex;
  justify-content: center;
}

.todo-container {
  width: 500px;
  height: 700px;
}
